
body {
    background-color: rgb(166, 178, 194, 0.9);
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.5;
}

.bond-ape {
    height: 500px; 
    width: 400px;
    position: absolute;
    top: 95px;
    left: 30px;
    z-index: 1;
}

table {
    font-family: 'arial', 'sans-serif';
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.bold {
    font-weight: bold;
    font-size: large;
    font-family: 'Permanent Marker', 'cursive';
}


nav.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 5px;
   
}

nav {
    width: 100%;
    height: 80px;
    padding-top: 12px;

}



nav {
display: inline-block;
margin: 20px;

}

